* {
    margin: 0;
    box-sizing: border-box;
}
body {
   background-color: #FAFAFA;
}
.header {
    display: flex;
    align-items: center;
    height: 100px;
    background: #FFFFFF;
    border-bottom: 1px solid #BFBFBF;
}
.container {
    width: 672px;
    margin: 0 auto;
    padding: 0 16px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image {
    padding-left: 35px;
}
.nav img:first-child {
    padding-left: 0;
}
.stories{
    height: 165px;
    margin: 30px auto;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo__foto{
    margin: 4px;
}
.logo__name{
    display: block;
    text-align: center;
}